[submodule "app/modules/auth"]
	path = app/modules/auth
	url = git@github.com:Russkazkin/yii2-auth-module.git
[submodule "app/modules/lang"]
	path = app/modules/lang
	url = git@github.com:Russkazkin/yii2-lang-selector.git
[submodule "app/modules/blog"]
	path = app/modules/blog
	url = git@github.com:Russkazkin/yii2-blog-module.git
[submodule "app/modules/admin"]
	path = app/modules/admin
	url = git@github.com:Russkazkin/yii2-admin-module.git
